/* JOANA sayz & plays: */

/* tm-headerbar
/* ------------------------------------------------- */
div.tm-headerbar.uk-clearfix.uk-hidden-small > div {
    font-weight: 100;
    font-size: 13px;
    padding-left: 20px;
    position: relative;
    width: 80%;
    margin-left: 0;
    display: inline-block;
    float: none;
    quotes: "\201C" "\201D";
}

div.tm-headerbar.uk-clearfix.uk-hidden-small > div:before {
    content: open-quote;
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 40px;
}
  
/* fim JOANA */
